@model School_Management_System_Application.ViewModels.EnrollStudentsAtCourseEdit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit course</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="course.courseId" />
            <div class="form-group">
                <label asp-for="course.title" class="control-label"></label>
                <input asp-for="course.title" class="form-control" />
                <span asp-validation-for="course.title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="course.credits" class="control-label"></label>
                <input asp-for="course.credits" class="form-control" />
                <span asp-validation-for="course.credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="course.semester" class="control-label"></label>
                <input asp-for="course.semester" class="form-control" />
                <span asp-validation-for="course.semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="course.programme" class="control-label"></label>
                <input asp-for="course.programme" class="form-control" />
                <span asp-validation-for="course.programme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="course.educationLevel" class="control-label"></label>
                <input asp-for="course.educationLevel" class="form-control" />
                <span asp-validation-for="course.educationLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="course.firstTeacherId" class="control-label">First Teacher</label>
                <select asp-for="course.firstTeacherId" class ="form-control" asp-items="ViewBag.Teachers">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="course.firstTeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="course.secondTeacherId" class="control-label">Second Teacher</label>
                <select asp-for="course.secondTeacherId" class ="form-control" asp-items="ViewBag.Teachers">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="course.secondTeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="year" class="control-label">Year</label>
                <input asp-for="year" class="form-control" />
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enrolled students</label>
                <select asp-for="selectedStudents" class="form-control js-example-basic-multiple" asp-items="Model.studentsEnrolledList">
                    @*<option value="">Select</option>*@
                </select>
                <span asp-validation-for="selectedStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#selectedStudents").select2();
        });
    </script>
}
