@model School_Management_System_Application.ViewModels.EditPictureStudent

@{
    ViewData["Title"] = "EditPicture";
}

<h1>Edit student</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPicture" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="student.Id" />
            <div class="form-group" style="display:none">
                <label asp-for="student.studentId" class="control-label"></label>
                <input asp-for="student.studentId" class="form-control" />
                <span asp-validation-for="student.studentId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="student.firstName" class="control-label"></label>
                <input asp-for="student.firstName" class="form-control" />
                <span asp-validation-for="student.firstName" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="student.lastName" class="control-label"></label>
                <input asp-for="student.lastName" class="form-control" />
                <span asp-validation-for="student.lastName" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none"
                <label asp-for="student.enrollmentDate" class="control-label"></label>
                <input asp-for="student.enrollmentDate" class="form-control" />
                <span asp-validation-for="student.enrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="student.acquiredCredits" class="control-label"></label>
                <input asp-for="student.acquiredCredits" class="form-control" />
                <span asp-validation-for="student.acquiredCredits" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="student.currentSemester" class="control-label"></label>
                <input asp-for="student.currentSemester" class="form-control" />
                <span asp-validation-for="student.currentSemester" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="student.educationLevel" class="control-label"></label>
                <input asp-for="student.educationLevel" class="form-control" />
                <span asp-validation-for="student.educationLevel" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="student.profilePicture" class="control-label"></label>
                <input asp-for="profilePictureName" class="form-control" readonly="@(true)">
                <span asp-validation-for="student.profilePicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="profilePictureFile" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="profilePictureFile" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile"></label>
                </div>
                <span asp-validation-for="profilePictureFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   @* <a asp-action="Details">Back to Details</a>*@
   <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}