@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the school management system by Hristijan Slavkoski</h1>
    <p>You can check our <a asp-controller="Students" asp-action="Index">students</a>,
        <a asp-controller="Teachers" asp-action="Index">teachers</a> and 
        <a asp-controller="Courses" asp-action="Index">courses</a>.
        Enjoy
        </p>
</div>
